If:
  PathMatch: .*\.(cu|cuh)$
CompileFlags:
  Add:
    - "-xcuda"                    # Treat files as CUDA source
    - "--cuda-path=/opt/cuda" # Path to CUDA toolkit (adjust this)
    - "-I/opt/cuda/include"  # CUDA include directory (adjust this)
  Remove:
    # strip CUDA fatbin args
    - "-Xfatbin*"
    # strip CUDA arch flags
    - "-gencode*"
    - "--generate-code*"
    - "--generate-line*"
    - "--relocatable-device-code*"
    - "-rdc*"
    # strip CUDA flags unknown to clang
    - "-ccbin*"
    - "--compiler-options*"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"
    - "--options-file"
    - "-G"
    
    

Index:
  Background: true
  SolidTypeMatching: true

Cache:
  Directory: .clangd-cache
  

