# .clang-format

BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman

SortIncludes: true
IncludeBlocks: Preserve

PointerAlignment: Right
DerivePointerAlignment: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 3

